<div id="peek-small">
  <span id="text-left-small" class="withoutImageSmall">   
    <div id="preview-date-small" class="date-left">
      {{ .Params.formattedDate }}
    </div>
    <div id="header-preview-right-small">
      <a style="color: black;"href="{{ .URL }}">{{ .Params.header }}</a>
    </div>
    <div id="subheader-preview-right-small">
      {{ .Params.subheader }}
    </div>
    <div id="content-preview-right-small">
      {{ print ( substr .Content 0 200 )  "..." | markdownify }} <a id="section"  href="{{ .URL }}">Read More</a>
    </div>
  </span>
</div>
