<div id="peek-medium-left">
  <span id="preview-left"><a href="{{ .URL }}"> <img class="preview-medium" alt="Preview Image" src="{{ .Site.BaseURL }}/media/{{ .Params.header_image }}"> </a></span>
  <span id="text-right">
    <div id="header-preview">
      {{ .Params.header }}
    </div>
    <div id="subheader-preview">
      {{ .Params.formattedDate }}
    </div>
    <div id="content-preview">
      {{ substr .Content 0 550 | markdownify }} <a id="section" href="{{ .URL }}">Read More</a>
    </div>
  </span>
</div>
